{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col s12">
			<h1 class="addMovieHeaderStyling"> Edit rating </h1>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<form class="col s12 z-depth-5 addMovieForm" method="POST" action="{{ url_for('edit_movie', movie_id=movies._id) }}">
            <!-- Movie title-->
				<div class="row">
					<div class="input-field col s12">
					</div>
				</div>
                <!-- Synopsis -->
				<div class="row">
					<div class="input-field col s12">       
					</div>
				</div>
                <!-- Genre -->
                <div class="row">
					<div class="input-field col s12">
					</div>
				</div>
                <!-- Platform -->
				<div class="row">
					<div class="input-field col s12">
					</div>
				</div>
                <!-- Rating -->
            <div class="row">
                <div class="col s12">
                <label for = "platform">Rating:</label>
					<div class="form-group" action="" placeholder = "What platform did you see the movie on? Netflix? DVD?">
							<div class="stars">
								<input id="5" type="radio" name="rating" value="5"/>
								<label for="5"></label>
								<input id="4" type="radio" name="rating" value="4"/>
								<label for="4"></label>
								<input id="3" type="radio" name="rating" value="3"/>
								<label for="3"></label>
								<input id="2" type="radio" name="rating" value="2"/>
								<label for="2"></label>
								<input id="1" type="radio" name="rating" value="1"/>
								<label for="1"></label>
							</div>
						</div>
                    </div>
			</div>

            <!--  
                User review might go but keep this for now. 
                <div class="row">
					<div class="input-field col s12">
						<input placeholder = "What did you think of the movie?" value = "" class="review" id = "review"
                     type = "text" name="review" required/>
                     <label for = "review">Write a short review.</label>
                     </div>
				</div>

                --> 
                <!-- Release year-->
				<div class="row">
					<div class="input-field col s12">
						
					</div>
				</div>
                <!-- Age rating -->
                <div class="row">
					<div class="input-field col s12">
						
					</div>
				</div>
                <!-- Movie image URL -->
                <div class="row">
					<div class="input-field col s12">
						
					</div>
				</div> 

                <div class="row">
					<div class="col s12 center-align">
						<button type="submit" class="btn-large waves-light darken-4 text-shadow">
                        Edit rating </button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% endblock %}