{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col s12">
			<h1 class="addMovieHeaderStyling"> Edit movie </h1>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<form class="col s12 z-depth-5 addMovieForm" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
            <!-- Movie title-->
				<div class="row">
					<div class="input-field col s12">
						<input placeholder = "Name of the movie." value = "" class="title" id = "title"
                     type = "text" name="title" required/>
						<label for = "title">Title</label>
					</div>
				</div>
                <!-- Synopsis -->
				<div class="row">
					<div class="input-field col s12">
						<textarea  value = "" class="materialize-textarea synopsis" id = "synopsis"
                     type = "text" name="synopsis" minlength="5"
                            maxlength="240" required> </textarea>
						<label for = "synopsis">Synopsis - Tell us what the movie is about.</label>         
					</div>
				</div>
                <!-- Genre -->
                <div class="row">
					<div class="input-field col s12">
						<input placeholder = "Genre! Is it a Comedy? Horror? Drama?" value = "" class="genre" id = "genre"
                     type = "text" name="genre" minlength="5"
                            maxlength="30" required/>
                        <label for = "genre">Genre</label>
					</div>
				</div>
                <!-- Platform -->
				<div class="row">
					<div class="input-field col s12">
						<input placeholder = "What platform did you see the movie on? Netflix? DVD?" value = "" class="platform" id = "platform"
                     type = "text" name="platform" />
						<label for = "platform">Platform</label>
					</div>
				</div>
                <!-- Rating -->
            <div class="row">
                <div class="col s12">
                <label for = "platform">Rating:</label>
					<div class="form-group" action="" placeholder = "What platform did you see the movie on? Netflix? DVD?">
							<div class="stars">
								<input id="5" type="radio" name="rating" value="5"/>
								<label for="5"></label>
								<input id="4" type="radio" name="rating" value="4"/>
								<label for="4"></label>
								<input id="3" type="radio" name="rating" value="3"/>
								<label for="3"></label>
								<input id="2" type="radio" name="rating" value="2"/>
								<label for="2"></label>
								<input id="1" type="radio" name="rating" value="1"/>
								<label for="1"></label>
							</div>
						</div>
                    </div>
			</div>

            <!--  
                User review might go but keep this for now. 
                <div class="row">
					<div class="input-field col s12">
						<input placeholder = "What did you think of the movie?" value = "" class="review" id = "review"
                     type = "text" name="review" required/>
                     <label for = "review">Write a short review.</label>
                     </div>
				</div>

                --> 
                <!-- Release year-->
				<div class="row">
					<div class="input-field col s12">
						<input type="text" name="release_year" class="datepicker" placeholder="When was the movie released?" >
						<label for = "release_year">Release Year</label>
					</div>
				</div>
                <!-- Age rating -->
                <div class="row">
					<div class="input-field col s12">
						<input placeholder = "What age rating does the movie have?" value = "" class="age_rating" id = "age_rating"
                     type = "text" name="age_rating"  />
						<label for = "age_rating">Age Rating</label>
					</div>
				</div>
                <!-- Movie image URL -->
                <div class="row">
					<div class="input-field col s12">
						<input placeholder = "Add a movie poster image here!" value = "" class="movieImage" id = "movie_image"
                     type = "text" name="movie_image"/>
						<label for = "movie_image">Movie poster URL:</label>
					</div>
				</div> 

                <div class="row">
					<div class="col s12 center-align">
						<button type="submit" class="btn-large waves-light darken-4 text-shadow">
                       Edit movie </button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% endblock %}