{% extends "base.html" %}
{% block content %}
<!-- Button appears when user starts scrolling allowing you return to the top of the page. -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

<div class="row">
    <div class="col s12 m7">
        <h1 class="headerStyling">{{ movie.title }}</h1>
        <h3 class="headerStyling">{{ movie.release_year}}</h3>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                
            <img class="activator" src="{{ movie.movie_image }}" onerror="this.onerror=null; this.src='/static/images/No_poster_image.jpg'" alt="{{ movie.title }}"> </a>

            </div>
            <div class="card-content">
                <!-- Allow creator of a review to delete review. -->
                {% if session.user == movie.created_by %}
                <a href="{{ url_for('edit_movie', movie_id=movie._id) }}">Edit Review</a>
                <!-- Modal appears when user clicks on delete movie review.-->
                <!-- Modal Trigger -->
                <button data-target="modal1" class="btn modal-trigger">Delete review</button>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Are you sure you want to delete your review? </h4>
                        <p>Another movie qoute?!?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Yes</a>
                    </div>
                </div>
                {% else %}
                <p></p>
                {% endif %}
                {% if session.user == "admin"|lower %}
                <a href="{{ url_for('edit_movie', movie_id=movie._id) }}">Edit Review</a>
                <!-- Modal appears when user clicks on delete movie review.-->
                <!-- Modal Trigger -->
                <button data-target="modal1" class="btn modal-trigger">Delete review</button>
                <p></p>
                {% else %}
                <p></p>
                {% endif %}
                <p class="cardActionStyling">Click image for more info. <i class="fa fa-arrow-up" aria-hidden="true"></i></p>

            </div>
            <div class="card-reveal">
                <span class="card-title titleHeading text-darken-4">{{ movie.title }}<i
                        class="fas fa-window-close right" aria-hidden="true"></i></span>
                <div class="cardDetails movieDetailStyling">
                    <ul>
                        <li><strong>Genre:</strong> {{ movie.genre }}</li>
                        <li><strong>Synopsis:</strong> {{ movie.synopsis }} </li>
                        <li><strong>Where did you see the movie?:</strong> {{ movie.platform }}</li>
                        <li><strong>Release year:</strong> {{ movie.release_year}} </li>
                        <li><strong>Age rating:</strong> {{ movie.age_rating}} </li>
                        <li><strong>Rate this movie (1 -5)</strong> {{ movie.rating }} </li>
                        <li><strong>Review created by:</strong> {{ movie.created_by}} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}