{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col s12 m7">
		<h1>{{ movie.title }}</h1>
		<h3>{{ movie.release_year}}</h3>
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{{ movie.movie_image }}"  alt="movie poster image">
  </div>
				<div class="card-content">
					<p> Display rating here! </p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{ movie.title }}<i class="material-icons right">close</i></span>
					<div class="cardDetails">
						<p><strong>Synopsis:</strong> {{ movie.synopsis }}</p>
						<br>
						<p><strong>Genre:</strong> {{ movie.genre }}</p>
						<br>
						<p><strong>Where did you see the movie?:</strong> {{ movie.platform }}</p>
						<br>
                        <i class="fas fa-star" aria-hidden="true">
						<p><strong>Rate this movie (1 -5) {{ movie.rating }}:</strong> 
							{% if session.user == movie.created_by %}
							<a href="#">Edit Rating</a></p>
						{% else %}
						<p></p>
						{% endif %}
						<br>
						<p><strong>Release year:</strong> {{ movie.release_year}}</p>
						<br>
						<p><strong>Age rating:</strong> {{ movie.age_rating}}</p>
						<br>
						<p><strong>Review created by:</strong> {{ movie.created_by}}</p>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}