{% extends "base.html" %}
{% block content %}

	<div class="row card-panel grey lighten-5">
		<form action="#" method="post" class="col s12">
			<div class="row valign-wrapper center-align">
				<div class="input-field col s12 m8">
					<input type="text" name="" id="query" class="validate">
					<label for="query">Search</label>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col s12 m7">
			{% for movie in movies %}
			<div class="card">
				<div class="card-image movie-image">
					<a href="{{url_for('movie', movie_id=movie._id)}}">
						<img src="{{ movie.movie_image }}"  alt="movie poster image"> </a>
						<span class="card-title">{{ movie.title }}</span>
				</div>
				<div class="card-content">
					<li>
						<p>{{ movie.age_rating}}</p>
						<p>Movie added by: {{ movie.created_by}}</p>
                        <p>Your rating: {{ movie.rating }} Stars</p>
						<!-- Add CSS to prevent displaying URL -->
						<p class="hidePosterURL">{{ movie.movie_image}}</p>
					</li>
				</div>
				<div class="card-action">
                <!-- Allow creator of a review to delete review. -->
                	{% if session.user == movie.created_by %}
							<a href="{{ url_for('edit_movie', movie_id=movie._id) }}">Edit Review</a>
                            <a href="{{ url_for('delete_movie', movie_id=movie._id) }}">Delete Movie</a>
                            
					{% else %}
						<p></p>
					{% endif %}
                <!-- Form for star rating only appears if a user is logged in -->
				{% if session.user %}
						<a href="#">Click here to rate this movie! </a>     
				{% else %}		
						<a href="{{ url_for('login') }}" class="brand-logo" >Log in or sign up to rate movie.</a>
				{% endif %}	
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}


    